tr {
    cursor: pointer;
}

.datatables-actions-wrapper {
    position: absolute;
    width: 100px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.2);
}

.datatables-actions-wrapper .menu {
    padding: 0;
    margin: 0;
}

.datatables-actions-content .item:hover {
    background: #f2f2f2;
}

.datatables-actions-content .item {
    list-style: none;
    font-size: 0.925rem;
    height: 35px;
    display: flex;
    padding: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.card-body {
    font-size: 0.9rem;
}

.datatables__pagination_information_range {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}